body {
  background-color: #5f1760;
  padding: 0;
  margin: 0;
}
.container {
  height: 22rem;
  width: 22rem;
  /* border: 0.125rem solid white; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.roller {
  height: 3rem;
  width: 9rem;
  border: 0.3rem solid #040e15;
  background-image: linear-gradient(to bottom, #ffca3e 0, #ffca3e 80%, #fc8f2e 80%);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top:0;
  animation: roller 2s infinite;
}
@keyframes roller {
  40% {
    top: 10.3125rem;
  }
}
.roller::before {
  position: absolute;
  content: "";
  background-color: rgba(255, 255, 255, 0.7);
  height: 0.43rem;
  width: 4.68rem;
  top: 0.5rem;
  left: 0.5rem;
  border-radius: 0.625rem;
}
.roller::after {
  position: absolute;
  content: "";
  height: 2.5rem;
  width: 5.31rem;
  border: 0.45rem solid #040e15;
  border-left: none;
  right: -1.25rem;
  top: 1.25rem;
  z-index: -1;
  border-radius: 0.4375rem;
}
.handle {
  height: 1.875rem;
  width: 0.4375rem;
  background-color: #040e15;
  position: absolute;
  top: 4.25rem;
  right: 4.0625rem;
}
.handle:after {
  position: absolute;
  content: "";
  height: 4.6875rem;
  width: 1.5625rem;
  background-color: #040e15;
  bottom: -4.6865rem;
  right: -0.5rem;
  border-radius: 0.3125rem;
}
.paint {
  background-color: #ffca3e;
  height: 0;
  width: 8.25rem;
  z-index: -1;
  margin: auto;
  left: 0;
  right: 0;
  animation: paint 2s infinite;
}
@keyframes paint {
  40% {
    height: 10.3125rem;
  }
}
